*,*:after,*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  font-family: Roboto,sans-serif;
  color: #808080;
}



/*  Navbar  */

header{
  height: 100vh;
  background-image: url('http://m.gettywallpapers.com/wp-content/uploads/2022/01/Michael-Jackson-Wallpaper-576x1024.jpg');
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  position: relative;
}

#logo {
  color: #d3d3d3;
  font-size: 1.6rem;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  padding: 2rem 10rem;
  align-items: center;
  position: fixed;
  margin-top: 1rem;
  width: 100%;
  max-width: 90%;
  top: 0;
  z-index: 1;
}


.navbar-container nav ul li{
  list-style: none;
  display: inline-block;
  padding: 0 2rem;
}

ul li a{
  text-decoration: none;
  color: #555555;
  transition: all 0.4s ease;
  font-weight: 400;
  font-size: 1.6rem;
}

ul li a:hover{
  color: #b2dfdb;
}

/*  HERO SECTION  */

.text-primary-container{
  position: absolute;
  top: 60%;
  left:50%;
  transform: translate(-50%,-50%)
}

.heading-primary {
  color: #808080;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.heading-primary-main{
  display: block;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 3.5rem;
}

.heading-secondary{

  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
}


/* SECTION 1 */

.biography-container{
  width: 100%;
}

.main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 130rem;
  margin: 0 auto;
  padding: 10rem 0;


}


/*  SECTION TWO */

.achivements-section{
  width: 100%;
  background-color: black;
  color: white;
}

.achivements-container{
  display: flex;
  padding: 10rem 0;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 100rem;
}


.achivements-container h1{
font-size: 3rem;
}

.achivements-container ul li{
  font-size: 1.6rem;
  padding: .2rem;
  margin-top: 2rem;
}

.achivements-container ul{
  margin-top: 2rem;
}

/* SECTION THREE */

.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.6rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  max-width: 140rem;
  padding: 2rem 1rem;
}


.gallery img{
  width: 100%;
  max-width: 35rem;
  height: 300px;
  object-fit: cover;
  border-radius: 1rem;
}
