*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  color: #777;
}

/*  Navbar  */
.logo a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition: all 0.3s ease;
}
.logo a:hover {
  color: #dcdcdc;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 5rem;
  padding: 0 4rem;

  background-color: black;
}

.navbar ul li a {
  text-decoration: none;
}

.navbar ul li {
  list-style-type: none;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu li {
  margin-left: 5rem;
}

.nav-menu li a {
  font: 1.6rem;
  color: #a9a9a9;
  font-weight: 400;
  transition: all 0.3s ease;
}

.nav-menu li a:hover {
  color: #dcdcdc;
}

/* BURGUER */
.burguer_container {
  left: 50%;
  width: auto;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateX(-50%);
  display: none;
}

.burguer_line {
  width: 3.2rem;
  height: 0.3rem;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  border-radius: 2rem;
}

.burguer_line::before,
.burguer_line::after {
  content: '';
  position: absolute;
  width: 3.2rem;
  height: 0.3rem;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  border-radius: 2rem;
}

.burguer_line::before {
  transform: translateY(-1rem);
}
.burguer_line::after {
  transform: translateY(1rem);
}

/*  ANIMATION */
.burguer_container.open .burguer_line {
  transform: translateX(-5rem);
  background: transparent;
}

.burguer_container.open .burguer_line::before {
  transform: rotate(45deg) translateX(3.5rem) translateY(-3.5rem);
}

.burguer_container.open .burguer_line::after {
  transform: rotate(-45deg) translateX(3.5rem) translateY(3.5rem);
}

@media (max-width: 48rem) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu li {
    padding-top: 1.2rem;
    margin-left: 0;
  }

  .nav-menu.active {
    left: 0;
  }
  .burguer_container {
    display: flex;
  }

  .burguer_container.active .burguer_line {
    transform: translate(-5rem);
    background: transparent;
  }

  .burguer_container.active .burguer_line:before {
    transform: rotate(45deg) translate(3.5rem, -3.5rem);
  }
  .burguer_container.active .burguer_line:after {
    transform: rotate(-45deg) translate(3.5rem, 3.5rem);
  }
}

/*  SECTION HERO */
header {
  height: 100vh;
  background-image: url('./public/src/img/michaeljackson.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
}

.text-primary-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  max-width: 50rem;
}

.heading-primary-main {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 3.5rem;
  text-transform: uppercase;
  color: #fff;
}
.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  font-weight: 700;
  margin-bottom: 5rem;
  color: #fff;
}

@media (max-width: 48rem) {
  .text-primary-container {
    left: 50%;
  }
  .heading-primary-main {
    font-size: 3rem;
    letter-spacing: 2.5rem;
  }
  .heading-secondary {
    font-size: 1.5rem;
    letter-spacing: 1rem;
  }
}

/* SECTION 1 */

.biography-container {
  width: 100%;
  margin-top: -5vh;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100rem;
  margin: 0 auto;
  padding: 10rem 0;
}

.biography-text-container {
  padding: 0 5rem;
  text-align: justify;
  line-height: 2.5rem;
}

.biography-text-container h1 {
  padding-bottom: 3rem;
  font-size: 3.5rem;
  color: #696969;
  text-align: center;
}

@media (max-width: 48rem) {
  .main {
    flex-direction: column;
  }

  .biography-text-container {
    margin-top: 3rem;
  }
}

/*  SECTION TWO */

.achivements-section {
  width: 100%;
  background-color: black;
}

.achivements-container {
  display: flex;
  padding: 10rem 0 10rem 3rem;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 100rem;
  line-height: 2.5rem;
}

.achivements-container h1 {
  font-size: 3.5rem;
  color: #d3d3d3;
}

.achivements-container ul li {
  padding: 0.2rem;
  margin-top: 2rem;
}

.achivements-container ul {
  margin-top: 2rem;
}

/* SECTION THREE */

.gallery {
  max-width: 100rem;
  position: relative;
  margin: 0 auto;
  display: flex;
  padding: 10rem 0;
}
.slides {
  display: none;
  margin: 0 auto;
  display: flex;
}
.slides img {
  width: 100%;
  height: 50rem;
  object-fit: contain;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2.2rem;
  padding: 1.6rem;
  color: black;
  font-weight: bold;
  font-size: 1.8rem;
  transition: 0.6s ease;
  border-radius: 0 0.3rem 0.3rem 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 0.3rem 0 0 0.3rem;
}

.numberText {
  color: #f2f2f2;
  font-size: 12px;
  padding: 0.8rem 1.2rem;
  position: absolute;
  top: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 4;
  }
  to {
    opacity: 1;
  }
}
