*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
  color: #808080;
  font-size: 1.6rem;
}

/*  Navbar  */
.logo a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 7rem;
  padding: 0 4rem;

  border-bottom: 1px solid #e2e8f0;
}

.navbar ul li a {
  text-decoration: none;
}

.navbar ul li {
  list-style-type: none;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu li {
  margin-left: 5rem;
}

.nav-menu li a {
  font: 1.6rem;
  color: white;
  font-weight: 400;
  transition: all 0.3s ease;
}

.nav-menu li a:hover {
  color: #482ff7;
}

/* BURGUER */
.burguer_container {
  left: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateX(-50%);
  display: none;
}

.burguer_line {
  width: 3.5rem;
  height: 0.3rem;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  border-radius: 2rem;
}

.burguer_line::before,
.burguer_line::after {
  content: '';
  position: absolute;
  width: 3.5rem;
  height: 0.3rem;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  border-radius: 2rem;
}

.burguer_line::before {
  transform: translateY(-1rem);
}
.burguer_line::after {
  transform: translateY(1rem);
}

/*  ANIMATION */
.burguer_container.open .burguer_line {
  transform: translateX(-5rem);
  background: transparent;
}

.burguer_container.open .burguer_line::before {
  transform: rotate(45deg) translateX(3.5rem) translateY(-3.5rem);
}

.burguer_container.open .burguer_line::after {
  transform: rotate(-45deg) translateX(3.5rem) translateY(3.5rem);
}

@media (max-width: 48rem) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-menu a {
    margin: 2.5rem 0;
  }
  .burguer_container {
    display: flex;
  }

  .burguer_container.active .burguer_line {
    transform: translate(-5rem);
    background: transparent;
  }

  .burguer_container.active .burguer_line:before {
    transform: rotate(45deg) translate(3.5rem, -3.5rem);
  }
  .burguer_container.active .burguer_line:after {
    transform: rotate(-45deg) translate(3.5rem, 3.5rem);
  }
}

/*  SECTION HERO */
header {
  height: 100vh;
  background-image: url('http://m.gettywallpapers.com/wp-content/uploads/2022/01/Michael-Jackson-Wallpaper-576x1024.jpg');
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  position: relative;
  z-index: -1;
  position: relative;
}

.text-primary-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify;
}

.heading-primary {
  color: #808080;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.heading-primary-main {
  display: block;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 3.5rem;
}

.heading-secondary {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
}

/* SECTION 1 */

.biography-container {
  width: 100%;
  margin-top: -5vh;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100rem;
  margin: 0 auto;
  padding: 10rem 0;
}

.biography-text-container {
  padding: 0 5rem;
  text-align: justify;
}

.biography-text-container h1 {
  padding-bottom: 3rem;
  font-size: 3rem;
  text-align: center;
}

@media (max-width: 48rem) {
  .main {
    flex-direction: column;
  }

  .biography-text-container {
    margin-top: 3rem;
  }
}

/*  SECTION TWO */

.achivements-section {
  width: 100%;
  background-color: black;
  color: white;
  margin-top: -5vh;
}

.achivements-container {
  display: flex;
  padding: 10rem 3rem;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 100rem;
}

.achivements-container h1 {
  font-size: 3rem;
}

.achivements-container ul li {
  padding: 0.2rem;
  margin-top: 2rem;
}

.achivements-container ul {
  margin-top: 2rem;
}

/* SECTION THREE */

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.6rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  max-width: 140rem;
  padding: 2rem 1rem;
}

.gallery img {
  width: 100%;
  max-width: 35rem;
  height: 300px;
  object-fit: cover;
  border-radius: 1rem;
}
